.content-book {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0 100%),
    url("../../resources/5-13.jpg");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  row-gap: 12px;
}

.section-btns {
  row-gap: 8px;
}
