.content-stats {
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.6) 0 100%),
    url("../../resources/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  height: 100%;
  width: 100%;
}
