.school-logo {
  padding: 0px 24px 0px 0px;
}

.css-imwso6-MuiBottomNavigationAction-label {
  font-size: 2rem;
  opacity: 1;
}
.MuiBottomNavigation-root {
  align-items: center;
  justify-content: center;
  display: flex;
}
.css-1ee5err-MuiButtonBase-root-MuiBottomNavigationAction-root {
  padding: 0px !important;
}
