.wrapper-sprint-settings {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../../../../resources/background-sprint.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.content-sprint-settings {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 300px;
  gap: 20px;
}

.sprint-title {
  display: flex;
  justify-content: center;
  font-family: "Dancing Script" !important;
  font-size: 150px;
  text-transform: uppercase;
  width: 300px;
  color: #ffffff;
  margin-bottom: 40px;
}

.sprint-info {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 40px;
  font-weight: 600;
}

.button-start:hover {
  border: 5px solid;
  color: #031ae5;
}

.sprint-setting-instruction {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 40px;
  font-weight: 600;
}