* {
  margin: 0;
  padding: 0;
}
body {
  height: 100%;
}

.App {
  text-align: center;
}
.home-page {
  background: linear-gradient(
    135deg,
    #8dd6c3 6%,
    #c5e5e2 40%,
    #eafaeb 70%,
    #f9f7ca 88%,
    #fceea1 100%
  );

  background-size: cover;
  box-sizing: border-box;
  height: 100vh;
}
